<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Node js</title>
        <link rel="stylesheet" href="./css/styles.css" />
    </head>

    <body>
        <h1>hello Kim Anh!!!</h1>
        <label for="">
            <input type="text" placeholder="Nhap de tim kiem" />
        </label>
        <img style="width: 100%" src="/image/hinhanh.jpg" alt="" />
    </body>
</html>
